html {
  font-family: sans-serif;
}

body {
  margin: 0;
  text-align: center;
  background-color: #07085c;
  color: #f6f6ee;
}

#logo {
  width: 7rem;
  height: 7rem;
  object-fit: contain;
  margin-top: 2rem;
}

h1 {
  color: #e8d4b2;
}

a {
  color: #fee389;
}
