name: Test workflow

on: workflow_dispatch
jobs:
  first-job:
    runs-on: ubuntu-latest
    steps:
    - name: Print greetings
      run: echo "Run test!"
    - name: Print goodbye
      run: echo "Done!"
