name: Output info
on: workflow_dispatch
jobs:
  info:
    runs-on: ubuntu-latest
    steps:
    - name: Print greetings
      run: echo "start output!"
    - name: Print output
      run: echo "${{ toJSON(github) }}"
